{% extends "base.html" %}

{% block disqus %}
<script src="https://giscus.app/client.js"
        data-repo="chimdungs/arxiv-daily"
        data-repo-id="R_kgDONnTfjQ"
        data-category="General"
        data-category-id="DIC_kwDONnTfjc4Cl1fk"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
